<div class="row">
    <div class="col l8 offset-l2 m8 offset-m2 s12">
      <div class="card-panel grey lighten-4">
        <span class="">
          <h5>Question 1 (/5 points)</h5>
          <p>
            <b>La lune est un satellite naturel de :</b>
          </p>
          <form action="#">
              <p>
                <input type="checkbox" id="rep1" />
                <label for="rep1">La Terre</label>
              </p>
              <p>
                <input type="checkbox" id="rep2" />
                <label for="rep2">Mars</label>
              </p>
              <p>
                <input type="checkbox" id="rep3" />
                <label for="rep3">Jupiter</label>
              </p>
                <p>
                  <input type="checkbox" id="rep4" />
                  <label for="rep4">Soleil</label>
                </p>
          </form>
        </span>
      </div>
    </div>
    <div class="col l8 offset-l2 m8 offset-m2 s12">
        <div class="card-panel grey lighten-4">
          <span class="">
            <h5>Question 2 (/5 points)</h5>
            <p>
              <b>La lune est un satellite naturel de :
                  La lune est un satellite naturel de :
                  La lune est un satellite naturel de :
                  La lune est un satellite naturel de :
              </b>
            </p>
            <form action="#">
                <p>
                  <input type="checkbox" id="rep5" />
                  <label for="rep5">Une phrase super longue pour voir ce que ça donne</label>
                </p>
                <p>
                  <input type="checkbox" id="rep6" />
                  <label for="rep6">Une phrase super longue pour voir ce que ça donne</label>
                </p>
                <p>
                  <input type="checkbox" id="rep7" />
                  <label for="rep7">Une phrase super longue pour voir ce que ça donne</label>
                </p>
                  <p>
                    <input type="checkbox" id="rep8" />
                    <label for="rep8">Une phrase super longue pour voir ce que ça donne</label>
                  </p>
            </form>
          </span>
        </div>
      </div>
  </div>