<div class="row">
    <div class="col l8 offset-l2 m8 offset-m2 s12">
        <div class="card-panel grey lighten-2 title">
          <span>
              <h4 class="center">{{qcm.nom}}</h4>
          </span>
        </div>
      </div>
    <div class="col l8 offset-l2 m8 offset-m2 s12">
      <div class="card-panel grey lighten-4" *ngFor="let questionReponse of qcm.listeQuestionsReponses">
        <span>
            <b>
              <p class="col l11 m11 s11 question">{{ questionReponse.libelleQuestion }} : </p>
              <p class="col l1 m1 s1 points">/{{ questionReponse.totalPts }} points </p>
            </b>
            <p *ngFor="let reponse of questionReponse.listeReponses">
              <input type="checkbox" id="{{ reponse.id }}"/>
              <label for="{{ reponse.id }}"> {{ reponse.libelleReponse }} </label>
            </p>
        </span>
      </div>
    </div>
  </div>