h1, h2, h3, h4, h5, h6 {
    margin: auto;
}

div.row {
    margin: 0 16% 0 16%;
}

div.card-panel {
    padding: 1% 2% 1% 2%;
    margin: 1% 0 1% 0;
}

button.full {
    width:100%;
}

div.edit {
    padding: 1.5% 0% 2% 1%;
}

button.small{
    width: 100%;
    padding: 0;
    margin: 0% 0% 20% 0%;
}

button.full{
    border: 0px;
}