h1, h2, h3, h4, h5, h6 {
    margin: auto;
}

div.row {
    margin: 0 0% 5% 0%;
}

div.card-panel {
    padding: 1% 2% 1% 2%;
    margin: 1% 0 1% 0;
}

[type="checkbox"].bonneReponse.filled-in:disabled + label:after{
    background-color: #43a047;
    border-color: black
}

[type="checkbox"].mauvaiseReponse.filled-in:disabled + label:after{
    background-color: #e53935;
    border-color: black
}
