<body>
  <div class="signin">
    <div class="center">
      <i class="material-icons medium">school</i>
      <h4>e-testing</h4>
    </div>
    
    <form>
      <div class="inputrow" name="form" (ngSubmit)="login()" novalidate>
        <input type="text" id="name" placeholder="Adresse mail"/>
        <label for="name">
          <i class="material-icons">person</i>
        </label>
      </div>
      <div class="inputrow">
        <input type="password" id="pass" placeholder="Mot de passe"/>
        <label for="pass">
            <i class="material-icons">lock</i>
        </label>
      </div>
      
      <input class="waves-effect waves-light btn teal darken-1 right" type="submit" value="Login"/>
    </form>
  </div>
</body>