<div *ngIf="!editMode">
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="card-panel grey lighten-2 title">
                <span>
                    <h4 class="center">Sélectionner un questionnaire au format XML</h4>
                </span>
            </div>
        </div>
        <div class="col l12 m12 s12">
            <div class="card-panel grey lighten-4 drag-and-drop">
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
                    <p class="center">Faites glisser votre fichier ici</p>
                </div>
            </div>
        </div>
        <div class="col l12 m12 s12">
            <div class="file-field input-field import">
                <div class="btn col l12 m12 s12 waves-effect waves-light light-blue darken-1">
                    <span>Importer Manuellement <i class="material-icons">cloud_upload</i></span>
                    <input id="inputFile" name="xml" class="btn" type="file" ng2FileSelect [uploader]="uploader" />
                </div>
            </div>
        </div>
    </div>

    

    <div class="col l12 m12 s12">
            <div class="card-panel grey lighten-2 title folder-path">
                <span>
                    <h4 class="center">Paramétrage du QCM</h4>
                </span>
            </div>
        </div>

    <div class="row" *ngIf="qcmUploaded">
        <app-edit-qcm (notify)='onNotify($event)' [qcmUploaded]=qcmUploaded></app-edit-qcm>
    </div>
</div>